@import url("https://fonts.googleapis.com/css2?family=Overpass&family=Overpass+Mono&display=swap");
* {
  font-family: "Overpass Mono", sans-serif;
  background-color: #222028;
  color: #d4feda;
  font-size: 15px;
}
/* body {
} */
#nav {
  margin-left: 60%;
}
a {
  color: #ffffff;
}
#aboutMe {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  border: 8px solid #d4feda;
}
#project {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  border: 8px solid #d4feda;
}

#myname {
  background-color: #d4feda;
  color: #222028;
  font-size: 35px;
}

@media only screen and (max-width: 600px) {
  #myname {
    font-size: 15px;
  }
} /* h1 {
  font-family: "Overpass Mono", monospace;
}

h2 {
  font-family: "Overpass Mono", monospace;
} */
