@import url("https://fonts.googleapis.com/css2?family=Overpass&family=Overpass+Mono:wght@400;700&display=swap");

* {
  font-family: "Overpass Mono", sans-serif;
  background-color: #1f1b2c;
  color: #c7e6cc;
  font-size: 15px;
}

#header {
  padding-top: 2%;
}
#projectTitle {
  font-size: 20px;
  font-weight: bold;
  color: rgb(211, 210, 210);
}
h3 {
  font-weight: bold;
  color: rgb(211, 210, 210);
  font-size: 20px;
}
.toGrey {
  color: #a2a3a2;
}

#redirect,
.navHref {
  font-weight: bold;
  color: #81c5fd;
  text-decoration: none;
  /* letter-spacing: 0.15em; */

  display: inline-block;
  position: relative;
}
#redirect:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #81c5fd;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#redirect:hover:after {
  width: 100%;
  left: 0;
}
Link,
Link:hover {
  box-shadow: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.nav {
  display: none;
  padding: 10px 30px;

  @media (min-width: $md) {
    display: flex;
    align-items: center;
  }
}

.nav__list {
  margin-bottom: 0;
  margin-left: auto;
}

.nav__item {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.nav__link {
  /* @include body-text; */
  font-weight: 700;
  color: #81c5fc;
}
.nav__link:hover {
  color: #81c5fc;
  border-bottom: 2px solid #81c5fc;
  margin-bottom: -2px;
  text-decoration: none;
}

.toBold {
  font-weight: bold;
  color: #bdecc4;
}
#techstack {
  font-weight: lighter;
  /* color: #919993; */
  margin-right: 30px;
  color: rgb(186, 206, 211);
}
.navHref {
  color: #81c5fd;
  padding: 2%;
  text-decoration: none;
}

span {
  text-decoration: none;
}
#aboutMe {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border: 8px solid #d4feda;
}
#project {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border: 8px solid #d4feda;
}

#experience {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border: 8px solid #d4feda;
}

.resumelinks {
  margin-left: 50%;
}

#myname {
  background-color: #d4feda;
  color: #222028;
  font-size: 35px;
}

@media only screen and (max-width: 800px) {
}
